/*
/*/
!/assets/
!/assets/

!perch

perch/*

!perch/templates/
!perch/templates/**
!.htaccess

!src
!src/*

!package.json
!package-lock.json
!webpack.config.js
!stripe-php-7.62.0
!.gitignore
!.cpanel.yml