<div class="book">
	<div class="restrict">
		<section>
		<h2><perch:shop id="title" type="text" label="Title"/></h2>
		<perch:shop id="description" type="textarea" label="Description" editor="redactor" html />
		
		<p>&pound;30 for Adults &bull; &pound;25 for Children</p>
		
		<perch:form id="add_to_cart" app="perch_shop" action="/shop/cart/">
		
			<perch:if exists="has_variants">
		      <perch:productopts>
		        <h3><perch:productopt id="title"></h3>
		        <perch:productvalues>
		          <perch:before><ul class="options"></perch:before>
		            <li>
		              <label>
		                <perch:input id="options" name="opt-<perch:productvalue id="optionID">[]"
		                  value="<perch:productvalue id="valueID">" type="radio" required="required">
		                <perch:productvalue id="valueTitle">
		              </label>
		            </li>
		          <perch:after></ul></perch:after>
		        </perch:productvalues>
		      </perch:productopts>
		    </perch:if>
		
			<perch:input id="product" type="hidden" env-autofill="false" value="<perch:shop id="productID" type="hidden" env-autofill="false" />" />
			<perch:if id="stock_level" value="0" match="gt">
				<h3>Quantity</h3>
				<perch:input id="qty" value="1" type="number" min="0" placeholder="1" />
				<perch:input type="submit" value="Add to Cart" />
			<perch:else />
				<h2>Sorry, sold out!</h2>
			</perch:if>
		</perch:form>
		<p>&nbsp;</p>
		</section>
	</div>
</div>